# Configuration Supabase
# Remplacez ces valeurs par vos vraies clés Supabase
VITE_SUPABASE_URL=https://yrdkgzpukotxsuukghvl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyZGtnenB1a290eHN1dWtnaHZsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY5NzcwNzEsImV4cCI6MjA3MjU1MzA3MX0.m6ijQxI5CBytN9VGm-E1FzPYfiSPT12PUwvUw3U6Wwc
VITE_SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyZGtnenB1a290eHN1dWtnaHZsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Njk3NzA3MSwiZXhwIjoyMDcyNTUzMDcxfQ.tIkZ_YL1bPmbgunaY8g2OaEOrl9UWdAtg8pnySq3oH0